
<div class="container">
<%= video_tag(["austin.mp4"], autoplay: true, muted: true) %>
<div id="start">Click here to begin your journey</div>
</div>


<div class = "content">
<form action="/search" method="post">
  <label for='term'>activity</label>
  <input class="input" name="term">
  <label for='location'>location</label>
  <input class="input" name="location">
  <input type="submit" value="Find">
</form>
</div>

<% if current_user %>
  <a href='/logout'>Log Out</a>
<% else %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>
<script>

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '854213751281806',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->

<% if current_user %>
  <%= current_user.location %>
<% end %>
